*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600;700&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
  --primaryColor: #1f44b3;
  --secondaryColor: #ecf2f4;
  --textColor: #FFFFFF;
  --checkboxOff: #F10B0B;
  --hover: #2e31d4;
  --addTodo: #12D502;
  --addTodoWindow:#F9F6EE; 
}

body {
  max-width: 99%;
  margin: 10px auto;
  background-color: rgb(226, 214, 214);
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
}

.header{
  font-size: 1em;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  color: var(--textColor);
  margin-bottom: 20px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-list{
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  cursor: pointer;
}

.warning-modal{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 3px 3px 10px 3px #000000;
  border: 3px solid rgb(251, 0, 0);
  background-color: rgb(220, 85, 85);
  text-align: center;
}

.warning-modal > h3{
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.warning-modal-btn-container{
  width: fit-content;
  margin: 0.5em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.warning-modal-btn{
  padding: 0.5em 2em;
  cursor: pointer;
}

.todos{
  margin-bottom: 100px;
  font-family: 'Shantell Sans', cursive;
}

.todo{
  width: 98%;
  height: auto;
  margin: 10px auto;
  padding: 10px;
  background-color: var(--secondaryColor);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.checkbox{
  max-width: 25px;
  max-height: 25px;
  min-width: 25px;
  min-height: 25px;
  border-radius: 999px;
  border: none;
  align-self: center;
  cursor: pointer;
}

/* .checked{
  border: 1.4px solid black;
} */

.check-icon{
  width: 20px;
  height: 20px; 
}

.todo-text{
  word-wrap: break-word;
  max-width: 90%;
  min-width: 1%;
  height: auto;
  margin-left: 10px;
  margin-right: 5px;
}

.todo-label{
  max-width: 95%;
  min-width: 10%;
  display: flex;
}

.todo-delete{
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn{
  color: black;
  cursor: pointer;
  border: none;
}

.delete-icon{
  width: 1rem;
  height: 1rem;
}

.addtodobtn-container{
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 10;
  bottom: 0%;
  width: 100%;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

.add-todo-button{
  width: 60px;
  height: 60px;
  background-color: var(--addTodo);
  border: 1px solid black;
  border-radius: 999px;
  color: var(--textColor); 
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}

.add-todo-window{
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-width: 13em;
  background-color: var(--light);
  padding: 16px;
  border-radius: 16px;
  box-shadow: 3px 3px 10px 3px #000000;
  border: 3px solid black;
  background-color: var(--addTodoWindow);
}

.close-window{
  position:absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.task-text{
  appearance: none;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 16px;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  width: 100%;
  margin: 10px auto;
}

.create-task-button{
  position: absolute;
  bottom: -20px;
  right: 0;
  background-color: var(--addTodo);
  color: var(--textColor);
  padding: 10px;
  border-radius: 20px;
  font-size: large;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0px 10px 10px -5px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.error{
  display: block;
  font-size: small;
  color: #F10B0B;
  margin-bottom: 10px;
  margin-left: 5px;
}
